@font-face {
    font-family: GraphikLCG-Regular;
    src: url(../assets/fonts/GraphikLCG-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: $background;
  font-family: 'GraphikLCG-Regular', 'Arial', sans-serif;
}

.main-block {

  &__container {
    display: flex;
    flex-direction: column;
    margin-left: 96px;
    margin-right: 96px;
  }

  &__modal {
    display: flex;
    margin-left: 86px;
    margin-right: 86px;
    border-radius: 8px;
    background-color: $white;
    box-shadow: 3px 35px 100px 5px rgba(38,156,255,.25);
    margin-top: 96px;
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 8px;
    padding-bottom: 32px;
    border: 1px rgba(0, 0, 0, 0.15);
    z-index: 10;
    position: absolute;
    width: 84%;
  }

  &__modal-heading {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: normal;
  }

  &__modal-text {
    font-weight: normal;
    line-height: 2;
    font-size: 16px;
    letter-spacing: normal;
  }

  &__modal-button {
    width: 44%;
    border-radius: 4px;
    background-color: $pink;
    color: $white;
    padding: 12px;
    margin-top: 16px;
    border: none;
  }

  &__product-card {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(115, 115, 115, 0.25);
    margin-top: 208px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 105px;
    background-color: $white;
  }

  &__product-card-info {
    display: flex;
    flex-wrap: wrap;
  }

  &__product-card-img {
    min-width: 90%;
    min-height: 90%;
  }

  &__product-card-picture {
    display: block;
  }

  &__product-card-options {
    display: block;
  }

  &__product-card-gallery {
    display: inline-block;
  }

  &__product-card-part {
    width: 58px;
    height: 56px;
    border-radius: 4px;
    margin-right: 14px;
    margin-top: 48px;
  }

  &__text--grey {
    color: $grey-font;
  }

  &____text--black {
    color: $black-font;
  }
}
